<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>villecova | Odoo Exercise</title>
    <meta name="description" content="Convert mock-up into a static HTML page.">
    <meta name="author" content="villecova">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{webRoot}}/assets/favicon/favicon.png" type="image/x-icon" />
    
    <!-- Bootstrap CSS -->
    <link href="path/to/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{webRoot}}/assets/css/libs.bundle.css" />     

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{webRoot}}/assets/css/theme.bundle.css" />   

    <!-- Swiper JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>