      <!-- header section -->
      <header class="pt-5 pb-2 px-3 mx-auto">
        <nav
          class="container navbar navbar-expand-md navbar-dark bg-primary fixed-top border-bottom border-white"
        >
          <!-- header logo -->
          <div class="hero-section__logo">
            <a class="navbar-brand" href="#"
              ><img
                width="60"
                height="auto"
                src="./assets/img/header_odoo-w.svg"
                alt="Odoo Logo"
            /></a>
          </div>

          <!-- header menu -->
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
              <li class="nav-item active">
                <a class="nav-link" href="#"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pages">Pages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="app">App</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="docs">Docs</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li> -->
            </ul>
          </div>

          <!-- header button -->
          <div class="form-inline my-2 my-lg-0">
            <button class="text-white btn my-2 my-sm-0" type="submit">
              Sign in
            </button>
            <button class="btn btn-light my-2 my-sm-0" type="submit">
              <i class="bi bi-bag"></i>Buy now
            </button>
          </div>

          <!-- mobile menu icon -->
          <button
            class="navbar-toggler text-danger"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </header>