<!DOCTYPE html>
<html lang="en">
{{> global/head title="Homepage" }}
<body>

<main>
  <div class="hero-section bg-primary">
    {{> header/navbar }}
    {{> hero/hero }}
  </div>
    {{> tools/tools}}
    {{> features/features}}
    {{> tools/tools}}
    {{> download/download}}
    {{> swiper/swiper}}
</main>

<!-- Footer -->
{{> footer/footer }}
</body>
</html>