<!DOCTYPE html>
<html lang="en">
{{> global/head }}
<body>

<main>
  <div class="hero-section bg-primary">
    {{> header/navbar }}
    {{> hero/hero }}
  </div>
  <div class="bg-light">
    {{> tools/tools}}
    {{> features/features}}
    {{> tech/tech}}
    {{> download/download}}
    {{> solutions/solutions}}
    {{> swiper/swiper}}
  </div>
    {{> faqs/faqs}}
</main>

<!-- Footer -->
{{> footer/footer }}
</body>
</html>