.section-tag {
    font-size: 0.8rem;
    border-radius: 50px;
    width: fit-content;
    padding: 4px 12px;
}

.info-container {
    gap: 1rem;
}

.card-img-overlay {
    top: 1rem;
    left: 2rem;
    a {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
}

.info-image { 
    max-width: 30rem;
    margin: 0 auto;
    background: none;
}