<div
          class="hero-section__main--card card bg-dark text-white p-3 w-75"
        >
          <div class="head d-flex flex-row justify-content-between">
            <img
              width="70px"
              height="auto"
              src="{{webRoot}}/assets/images/header_odoo-w.svg"
              alt="Mastercard"
            />
            <button class="btn btn-secondary">Active</button>
          </div>
          <div class="card-number py-3">
            <p class="m-0">CARD NUMBER</p>
            <h4>4358-7421-9256-6682</h4>
          </div>
          <div class="card-info d-flex flex-row">
            <div class="name d-flex flex-column mr-5">
              <p class="m-0">NAME</p>
              <p>John Snow</p>
            </div>
            <div class="date d-flex flex-column ml-5">
              <p class="m-0">EXPIRY DATE</p>
              <p>11/23</p>
            </div>
          </div>
        </div>