.hero-section {
    &__first-col {
        gap: 1rem;
        padding-left: 0;
    }

    &__second-col {
        width: fit-content;
        border-bottom-right-radius: 4rem !important;
    }

    &__purchases {
        &--status {
            font-size: 1rem;
        }
    }
}